<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywh.base.common.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.ywh.base.common.domain.User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="use_state" property="useState" jdbcType="VARCHAR"/>
        <result column="del_state" property="delState" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="base_columns">
        id, user_name, nick_name, email, mobile_phone, passwd, use_state, del_state, remark, create_date, create_by, update_date, update_by
    </sql>

    <select id="findByUserName" resultMap="BaseResultMap">
        select <include refid="base_columns"/>
        from user
        where user_name = #{userName,jdbcType=VARCHAR}
        and del_state = '1' and use_state = '1'
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1) from user
    </select>
</mapper>